/* MIXIN */
.header {
  width: 100%;
  margin-top: -11px;
  margin-bottom: -7px;
  padding-left: 40px;
  padding: 0 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f4f9f9;
}
.headerMenu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding-left: 60px;
  box-sizing: content-box;
}
.headerMenu ul li {
  display: inline-block;
}
.headerLogo {
  display: flex;
  align-items: center;
}
.headerLogo img {
  width: 75px;
  cursor: pointer;
}
