/* ESTILOS EN COMÚN */

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  font-size: 60px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

h3 {
  margin-top: 19px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

.font {
  font-family: "Open Sans", sans-serif;
}

/* HEADER */

.header {
  font-size: 20px;
}

.header {
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: -4px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding: 0 0px;
  justify-content: center;
  background-color: #f4f9f9;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerLogo img {
  width: 75px;
  cursor: pointer;
}

.headerMenu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding-left: 60px;
  box-sizing: content-box;
}

.headerMenu ul li {
  display: inline-block;
}

/* INDEX.HTML */

/* PRIMERA SECCIÓN - INTRODUCCIÓN */

.introduccion {
  background-color: #cfe1b9;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: auto;*/
  margin-top: 0px;
  height: 650px;
  width: 100%;
}

.introdTexto {
  margin-left: 150px;
  padding-top: 150px;
  font-size: 30px;
}

.fotoVacas {
  width: 450px;
  height: 300px;
  margin-left: 1000px;
  margin-top: -300px;
}

/* SEGUNDA SECCIÓN - DOCUMENTALES */

.documentales {
  background-color: #b5c99a;
  width: 100%;
  height: 500px;
  border: #ffbf69 5px solid;
}

/* .docuTexto {
  margin-left: 120px;
  text-align: center;
  padding-top: 110px;
} */

.flexContainer {
  width: 100%;
  max-width: 1200 px;
  height: 472px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.flexContainer .card {
  overflow: hidden;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.flexContainer .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.flexContainer .card img {
  width: 330px;
  height: 220px;
}

.flexContainer .card h3 {
  font-weight: 600;
}

.flexContainer .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

/* TERCERA SECCIÓN - RECETAS */

.recetas {
  background-color: #87986a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 560px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

/* CONTACTO.HTML */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #5c7a2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.fila:after {
  content: "";
  display: table;
  clear: both;
}

/* PRODUCTOS.HTML */

.tituloProd {
  text-align: center;
  color: #5c7a2e;
}

/*Para la sección de productos tuve que crear un flexContainer distinto al del index.html
ya que si modificaba uno me cambiaba en ambas páginas*/

.flexContainer2 {
  width: 100%;
  max-width: 1200 px;
  height: 472px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.flexContainer2 .card {
  overflow: hidden;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.flexContainer2 .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.flexContainer2 .card img {
  width: 330px;
  height: 220px;
}

.flexContainer2 .card h3 {
  font-weight: 600;
}

.flexContainer2 .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

/* INFORMACION.HTML */
.titulo {
  font-size: 40px;
  margin-left: 35px;
  margin-right: 35px;
}

.parrafo {
  font-size: 29px;
  margin-left: 35px;
  margin-right: 35px;
}

.texto {
  font-size: 29px;
  margin-left: 35px;
  margin-right: 35px;
}

/* MEDIA QUERIES */
/* Hasta 1500px en mi pantalla se ven bien los elementos, menos de eso se empiezan a mover */
@media screen and (max-width: 1668px) {
  .recetas {
    background-color: #87986a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1025px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .flexContainer2 {
    width: 100%;
    max-width: 1200 px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}

/* Esta de 1127px funciona también para 1023px (hasta 767) por lo que deje una sola */
/* Tables and under */
@media screen and (max-width: 1127px) {
  .recetas {
    background-color: #87986a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1040px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .flexContainer {
    width: 100%;
    max-width: 1200 px;
    height: 937px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .flexContainer2 {
    width: 100%;
    max-width: 1200 px;
    height: 1397px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}

/* Mobiles */
@media screen and (max-width: 760px) {
  .recetas {
    background-color: #87986a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1957px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .flexContainer {
    width: 100%;
    max-width: 1200 px;
    height: 1434px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .flexContainer2 {
    width: 100%;
    max-width: 1200 px;
    height: 2355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .introdTexto {
    margin-left: 11px;
    padding-top: 110px;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 436px) {
  .introduccion {
    background-color: #cfe1b9;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: auto;*/
    margin-top: 7px;
    height: 754px;
    width: 100%;
  }

  h1 {
    display: block;
    font-size: 47px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
}
