/* ESTILOS EN COMÚN */

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  font-size: 60px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

.header {
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 6px;
  padding-left: 40px;
  padding: 0 0px;
  justify-content: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerLogo img {
  width: 75px;
  cursor: pointer;
}

.headerMenu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding-left: 60px;
}

.headerMenu ul li {
  display: inline-block;
}

/* INDEX.HTML */

/* PRIMERA SECCIÓN - INTRODUCCIÓN */

.introduccion {
  background-color: #cfe1b9;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: auto;*/
  margin-top: 35px;
  height: 650px;
  width: 100%;
}

.introdTexto {
  margin-left: 150px;
  padding-top: 150px;
  font-size: 30px;
}

.fotoVacas {
  width: 450px;
  height: 300px;
  margin-left: 1000px;
  margin-top: -300px;
}

/* SEGUNDA SECCIÓN - DOCUMENTALES */

.documentales {
  background-color: #b5c99a;
  width: 100%;
  height: 500px;
  border: #ffbf69 5px solid;
}

/* .docuTexto {
  margin-left: 120px;
  text-align: center;
  padding-top: 110px;
} */

.flexContainer {
  width: 100%;
  max-width: 1200 px;
  height: 472px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.flexContainer .card {
  overflow: hidden;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.flexContainer .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.flexContainer .card img {
  width: 330px;
  height: 220px;
}

.flexContainer .card h3 {
  font-weight: 600;
}

.flexContainer .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

/* TERCERA SECCIÓN - RECETAS */

.recetas {
  background-color: #87986a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

/* CONTACTO.HTML */

.contacto {
  background-color: #ffbf69;
  align-items: center;
  align-content: center;
}

/* MEDIA QUERIES */
/* Hasta 1500px en mi pantalla se ven bien los elementos, menos de eso se empiezan a mover */
@media screen and (max-width: 1500px) {
  .recetas {
    background-color: #87986a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 975px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

/* Esta de 1127px funciona también para 1023px (hasta 767) por lo que deje una sola */
/* Tables and under */
@media screen and (max-width: 1127px) {
  .flexContainer {
    width: 100%;
    max-width: 1200 px;
    height: 937px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}

/* Mobiles */
@media screen and (max-width: 760px) {
  .recetas {
    background-color: #87986a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1900px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .flexContainer {
    width: 100%;
    max-width: 1200 px;
    height: 1434px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .introdTexto {
    margin-left: 11px;
    padding-top: 110px;
    font-size: 30px;
    text-align: center;
  }
}
