/* MIXIN */
@mixin h($ancho, $margentop, $margenbottom, $paddingleft, $padding) {
  width: $ancho;
  margin-top: $margentop;
  margin-bottom: $margenbottom;
  padding-left: $paddingleft;
  padding: $padding;
}

.display {
  display: flex;
}

.header {
  @include h(100%, -11px, -7px, 40px, 0 0px);
  @extend .display;
  align-items: center;
  justify-content: center;
  background-color: #f4f9f9;

  &Menu {
    ul {
      @extend .display;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      padding-left: 60px;
      box-sizing: content-box;

      li {
        display: inline-block;
      }
    }
  }

  &Logo {
    @extend .display;
    align-items: center;

    img {
      width: 75px;
      cursor: pointer;
    }
  }
}
